<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Code Generator</title>
</head>
<body>
    <h1>QR Code Generator</h1>
    <form action="/genereer_qr" method="post">
        <div>
            <label for="URL">URL:</label>
            <input type="text" id="URL" name="URL" required>
        </div>
        <div>
            <label for="Subtekst">Subtekst onder de QR-Code:</label>
            <input type="text" id="Subtekst" name="Subtekst">
        </div>
        <!-- Voeg extra velden toe indien nodig -->
        <div>
            <input type="submit" value="Genereer QR Code">
        </div>
    </form>
</body>
</html>
